body {
	background: #eee;
	margin: 0;
	padding: 0;
}

#main_container {
	display: flex;
	width: 100vw;
	height: 100vh;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

#cat_container {
	background-image: url("img/cat.jpg");
	background-size: cover;
	background-position: center;
	border-radius: 50%;
	width: 200px;
	height: 200px;
}