body {
	background: #eee;
	margin: 0;
	padding: 0;
}

p, h1, h2, h3 {
	margin: 0;
}

h1 {
	font-family: 'Gloria Hallelujah', cursive;
}

h1 + p {
	font-size: .7rem;
	margin-top: 0px;
	letter-spacing: 1.5px;
	color: #aaa;
	text-transform: uppercase;
	font-family: Arial, sans-serif;
}

h1 + p:after {
	border-bottom: 1px solid #aaa;
	content: "";
	width: 35%;
	padding-top: 30px;
	margin: 0 auto;
	display: block;
}

#intro {
	width: 90vw;
	height: auto;
	max-width: 400px;
	margin: 0 auto;
	text-align: center;
}

#main_container {
	display: flex;
	width: 100vw;
	height: 80vh;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

@media screen min-width: 750px {
	#main_container {
		background-color: blue;
	}
}

.cat {
	text-align: center;
	width: 216px;
	margin-left: 50px;
}

#kitten_container {
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 100%;
	display: flex;
	margin-left: -50px;
}

#cat_image {
	background-image: url("img/cat.jpg");
	background-size: cover;
	background-position: center;
	border-radius: 50%;
	width: 200px;
	height: 200px;
	border: 8px solid #fff;
	box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.2);
	margin: 0 auto;
	margin-top: 30px;

	transition: all 20ms ease-out;
}

.cat:active > #cat_image {
	transform: scale(.95, .95);
}

#click_container {
	font-size: 20px;
	text-transform: uppercase;
	color: #aaa;
	font-family: Arial, sans-serif;
	font-weight: 700;
	letter-spacing: 2px;
	margin-top: 20px;
}