/*--------------------------------------------------------------
# Defaults
--------------------------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain) */ html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; } /* HTML5 display-role reset for older browsers */ article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block; } body {line-height: 1; } ol, ul {list-style: none; } blockquote, q {quotes: none; } blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none; } table {border-collapse: collapse; border-spacing: 0; }

* {
	transition: all 250ms ease-out;
	box-sizing: border-box;
}

body {
	background: #eee;
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}

p, h1, h2, h3 {
	margin: 0;
}

h1 {
	font-size: 2rem;
	font-weight: bold;
	padding: 0.67rem 0;
}

h2 {
	font-size: 24px;
	padding: 0.3rem 0;
}

h3 {
	font-size: 1.17rem;
}

h1, h2, h3, h4 {
	font-family: 'Gloria Hallelujah', cursive;
}

h1 + p {
	font-size: .7rem;
	margin-top: 0px;
	letter-spacing: 1.5px;
	color: #aaa;
	text-transform: uppercase;
}

h1 + p:after {
	border-bottom: 1px solid #aaa;
	content: "";
	width: 30px;
	padding-top: 30px;
	margin: 0 auto;
	display: block;
}


/*--------------------------------------------------------------
# Mainframe
--------------------------------------------------------------*/
main {
/*	width: 80%;
	background-color: green;
	position: relative;
	display: flex;*/
}

#intro {
	width: 90vw;
	height: 20vh;
	max-width: 400px;
	margin: 0 auto;
	text-align: center;
	padding-top: 50px;
	overflow: hidden;
}

#main_container {
	display: flex;
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
	height: 80vh;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}


/*--------------------------------------------------------------
# Other
--------------------------------------------------------------*/
.fade_top, .fade_bottom {
	width: 100%;
	height: 20%;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eeeeee+1,ffffff+100&1+0,0+100 */
	background: -moz-linear-gradient(top,  rgba(238,238,238,1) 0%, rgba(238,238,238,0.99) 1%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(238,238,238,0.99) 1%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(238,238,238,1) 0%,rgba(238,238,238,0.99) 1%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
	pointer-events: none;
	position: fixed;
}

.fade_bottom {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,eeeeee+100&0+0,1+100 */
	background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(238,238,238,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(238,238,238,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(238,238,238,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */

	bottom: 0;
}


/*--------------------------------------------------------------
# Cat
--------------------------------------------------------------*/
.cat {
	text-align: center;
	width: 80%;
	max-width: 500px;
	/*margin-left: 50px;*/
}

#kitten_container {
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: left;
	align-items: center;
	display: flex;
	width: 60%;
	flex-grow: 1;
}

#cat_image_aspect_ratio_trick {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 100%;
	margin: 0 auto;
	margin-top: 10px;
}

#cat_image {
	background-size: cover;
	background-position: center;
	border-radius: 50%;
	width: 100%;
	height: 100%;
	position: absolute;
	border: 8px solid #fff;
	box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.2);

	transition: all 100ms ease-out;
}

#cat_image:active {
	transform: scale(.95, .95);
}

#click_container {
	font-size: 12px;
	text-transform: uppercase;
	color: #aaa;
	font-weight: 00;
	letter-spacing: 2px;
	margin-top: 20px;
}



/*--------------------------------------------------------------
# Cat list
--------------------------------------------------------------*/
#cat_list_container {
	width: 40%;
	max-width: 200px;
	height: 100%;
	min-width: 200px;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	display: flex;
	position: relative;
	
}

#cat_list {
	width: 100%;
	height: auto;
	overflow-y: scroll;
	overflow-x: hidden;
}

.listed_cat_container {
	flex-shrink: 0;
	width: 100%;
	max-width: 150px;
	height: 150px;
	margin: 0 auto;
	margin-top: 20px;
}

.listed_cat_image {
	background-size: cover;
	background-position: center;
	border-radius: 50%;
	border: 4px solid #fff;
	box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.2);
	margin: 0 auto;
	margin-top: 10px;
	text-align: center;

	width: 100%;
	height: 100%;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;
	font-weight: bold;
	text-shadow: 1px 1px 25px rgba(0, 0, 0, 0.8);
	color: #fff;
}

.listed_cat_name {
}

.listed_cat_clicked {
	margin-top: 10px;
}


/*--------------------------------------------------------------
# Mobile
--------------------------------------------------------------*/
@media screen and (max-width: 550px) {
	#main_container {
		height: calc(80vh - 100px);
		padding: 20px 0;
	}

	#kitten_container {
		flex-direction: column;
	}

	.cat {
		margin-top: 0;
	}

	#cat_list_container {
		width: 100%;
		max-width: 100%;
		height: 100px;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: left;
		align-items: center;
		display: flex;
		position: fixed;
		bottom: 0;
		
	}

	#cat_list {
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: left;
		align-items: center;
		display: flex;
		width: 100%;
		height: 100%;
		overflow-y: hidden;
		overflow-x: scroll;
		font-size: 14px;
	}

	.listed_cat_name {
		font-size: 100%;
		padding-bottom: 5px;
	}

	.listed_cat_container {
		flex-shrink: 0;
		width: 75px;
		height: 75px;
		margin-top: 2px;
		margin-left: 15px;
		margin-right: 15px;
	}

	.listed_cat_image {
		border: 2px solid #fff;
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
		text-shadow: 1px 1px 25px rgba(0, 0, 0, 0.8);
	}

	.fade_top, .fade_bottom {
		width: 30%;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eeeeee+0,ffffff+100&1+0,0+100 */
		background: -moz-linear-gradient(left,  rgba(238,238,238,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left,  rgba(238,238,238,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right,  rgba(238,238,238,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
		pointer-events: none;
		position: fixed;
	}

	.fade_bottom {
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,eeeeee+100&0+0,1+100 */
		background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(238,238,238,1) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(238,238,238,1) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(238,238,238,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#eeeeee',GradientType=1 ); /* IE6-9 */
		right: 0;
	}

}