[submodule "09 Javascript basics - Online Resume/master"]
	path = 09 Javascript basics - Online Resume/master
	url = https://github.com/etokheim/frontend-nanodegree-resume.git
[submodule "11 Meme maker/master"]
	path = 11 Meme maker/master
	url = https://gist.github.com/4bb46f2966cf17777f93362331681f66.git
[submodule "14 Optimize Cameron's portfolio page/frontend-nanodegree-mobile-portfolio"]
	path = 14 Optimize Cameron's portfolio page/frontend-nanodegree-mobile-portfolio
	url = https://github.com/udacity/frontend-nanodegree-mobile-portfolio.git
[submodule "17 Pizza App/ud989-pizzamvo"]
	path = 17 Pizza App/ud989-pizzamvo
	url = https://github.com/etokheim/ud989-pizzamvo.git
[submodule "18 Retain/ud989-retain"]
	path = 18 Retain/ud989-retain
	url = https://github.com/etokheim/ud989-retain.git
[submodule "13 Classic Arcade Game - Ladybug/frontend-nanodegree-arcade-game"]
	path = 13 Classic Arcade Game - Ladybug/frontend-nanodegree-arcade-game
	url = https://github.com/etokheim/frontend-nanodegree-arcade-game.git
[submodule "19 Refactor spaghetti code/ud989-school-attendance"]
	path = 19 Refactor spaghetti code/ud989-school-attendance
	url = https://github.com/etokheim/ud989-school-attendance.git
