[submodule "09 Javascript basics - Online Resume/master"]
	path = 06 Online Resume/02 Project - Javascript basics - Online Resume/master
	url = https://github.com/etokheim/frontend-nanodegree-resume.git
[submodule "17 Pizza App/ud989-pizzamvo"]
	path = 12 Neighborhood Map/17 Pizza App/ud989-pizzamvo
	url = https://github.com/etokheim/ud989-pizzamvo.git
[submodule "18 Retain/ud989-retain"]
	path = 12 Neighborhood Map/18 Retain/ud989-retain
	url = https://github.com/etokheim/ud989-retain.git
[submodule "13 Classic Arcade Game - Ladybug/frontend-nanodegree-arcade-game"]
	path = 09 Classic Arcade Game Clone/03 Project - Classic Arcade Game - Ladybug/frontend-nanodegree-arcade-game
	url = https://github.com/etokheim/frontend-nanodegree-arcade-game.git
[submodule "19 Refactor spaghetti code/ud989-school-attendance"]
	path = 12 Neighborhood Map/19 Refactor spaghetti code/ud989-school-attendance
	url = https://github.com/etokheim/ud989-school-attendance.git
[submodule "20 Todo-app/ud989-todo-app"]
	path = 12 Neighborhood Map/20 Todo-app/ud989-todo-app
	url = https://github.com/etokheim/ud989-todo-app.git
[submodule "21 Google Maps API/ud864"]
	path = 12 Neighborhood Map/21 Google Maps API/ud864
	url = https://github.com/etokheim/ud864.git
[submodule "08 Website Optimization/02 Web worker/web-workers-demo"]
	path = 11 Website Optimization/02 Web worker/web-workers-demo
	url = https://github.com/etokheim/web-workers-demo.git
[submodule "08 Website Optimization/01 Optimize Cameron's portfolio page/frontend-nanodegree-mobile-portfolio"]
	path = 11 Website Optimization/01 Optimize Cameron's portfolio page/frontend-nanodegree-mobile-portfolio
	url = https://github.com/etokheim/frontend-nanodegree-mobile-portfolio.git
[submodule "08 Website Optimization/03 QR-code/qrcode"]
	path = 11 Website Optimization/03 QR-code/qrcode
	url = https://github.com/etokheim/qrcode.git
[submodule "08 Website Optimization/05 Pizza performance/pizza-perf"]
	path = 11 Website Optimization/05 Pizza performance/pizza-perf
	url = https://github.com/etokheim/pizza-perf.git
[submodule "08 Website Optimization/06 Hacker news - Performance optimization/news-aggregator"]
	path = 11 Website Optimization/06 Hacker news - Performance optimization/news-aggregator
	url = https://github.com/etokheim/news-aggregator.git
[submodule "08 Website Optimization/07 Web portfolio - performance optimization/frontend-nanodegree-mobile-portfolio"]
	path = 11 Website Optimization/07 Project - Web portfolio - performance optimization/frontend-nanodegree-mobile-portfolio
	url = https://github.com/etokheim/frontend-nanodegree-mobile-portfolio.git
[submodule "05 Build a Portfolio Site/04 Project - Build a Portfolio Site/Build-a-Portfolio-Site"]
	path = 05 Build a Portfolio Site/04 Project - Build a Portfolio Site/Build-a-Portfolio-Site
	url = https://github.com/etokheim/Build-a-Portfolio-Site.git
